body{
    margin: 0px;
    padding: 0px;
    height: 100vh;
    background-color: #ced0d6/*#F0D89E;*/
}
#header{
    /* height: 20vh; */
    /* padding: 0px 0px 10px 0px; */
    border: 1px solid #000;
    border-radius: 10;
    box-shadow: 1px 1px 4px #000;
    color: #e6d2a4;
    text-shadow:1px 1px 2px #4166F5;
    background-image: linear-gradient(to right,#0E3BA3,#4166f5);
}
#banner{
    font-size: 1.5em;
    text-align: center;
    margin: 10px;
    
}
#loginBar{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    background-image: linear-gradient(to left,#0E3BA3,#4166f5);
}
#buttonBar{
    display: flex;
    justify-content: space-around;
}
#loginBtn{
    flex-grow: 1;
}
#registerBtn{
    flex-grow: 1;
}
#header button{
    border: 0px none;
    margin: 10px;
    background: none;
    color: #e6d2a4;
    font-weight: 500;
}
button:hover{
    cursor: pointer;
}
.modalNone{
    display: none;
}
.modalShow{
    position: absolute;
    background-color: #fff;
    border: 1px solid #000;
    box-shadow: 1px 1px 1px #000;
    height: auto;
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    transform: translate(50%, -50%);
    /* margin-bottom: auto; */
    z-index: 5;
    padding: 15px;
}
#exitModal:hover{
    cursor: pointer;
}
h3::first-letter {
    text-transform:capitalize;
}
.modalLogin button{
    margin: 10px;
}
.modalLogin{
    display: flex;
    width: 100%;
    height: auto;
    flex-direction: column;
    align-items: center;
}
#posts{/* post container */
    display: flex;
    width: 100vw;
    
}

.post{
    flex: 1 40%;
    margin: 4%;
    background-color: #4165f525;
    border: 1px solid #000;
    box-shadow: inset 1px 1px 1px #000;
}
.postTitle{
    font-size: 1.3rem;
    font-weight: 500;
    margin: 15px;
}