$primary: #0e3ba3;
$secondary: #4166f5;
$third: #ced0d6;
$fourth: #F0D89E;

@mixin normalBorder {
  border: 1px solid #000;
  box-shadow: 1px 1px 4px #000;
}
@mixin fontPost {
  font-size: 1.3rem;
  font-weight: 500;
}
$font-sizes: ("small": 12px, "normal": 18px, "large": 24px);

body {
  margin: 0px;
  padding: 0px;
  height: 100vh;
  background-color: complement($third); 
}
#header {
  @include normalBorder;
  border-radius: 10;
  color: #e6d2a4;
  text-shadow: 1px 1px 2px $secondary;
  background-image: linear-gradient(to right, $primary, $secondary);
}
#banner {
  font-size: 1.5em;
  text-align: center;
  margin: 10px;
}
#loginBar {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  background-image: linear-gradient(to left, $primary, $secondary);
  button {
    flex-grow: 1;
    @include fontPost;
    border: 0px none;
    margin: 10px;
    background: none;
    color: #e6d2a4;
  }
}
#buttonBar {
  display: flex;
  justify-content: space-around;
}
button:hover {
  cursor: pointer;
}
.modalNone {
  display: none;
}
.modalShow {
  @include normalBorder;
  position: absolute;
  background-color: #fff;
  height: auto;
  max-width: fit-content;
  margin-left: auto;
  margin-right: auto;
  z-index: 5;
  padding: 15px;
}
#exitModal:hover {
  cursor: pointer;
}
h3::first-letter {
  text-transform: capitalize;
}
.modalLogin {
  display: flex;
  width: 100%;
  height: auto;
  flex-direction: column;
  align-items: center;
  button {
    margin: 10px;
  }
}
#posts {
  /* post container */
  display: flex;
  width: 100vw;
}

.post {
  @include normalBorder;
  flex: 1 40%;
  margin: 4%;
  background-color: transparentize($secondary,.25);
}
.postTitle {
  @include fontPost;
  margin: 15px;
}
