@import "index";
// <span id="hitDie"></span>
// <span id="proficiencies"></span>
// <span id="savingThrows"></span>
// <span id="subclasses"></span>
// <span id="skills"></span>
#classInfo { 
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}
#characterLevel{
    width: 50px;
}
.hidden{
    display: none;
}
select{
    max-width: 100vw;
}
#createParent{
    @include normalBorder;
    margin-top: 5px;
    background-color: #fff;
    width: min-content;
    min-width: 70vw;
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
    padding-bottom: 15px;
    #nextView{
        float: right;
        margin: 5px;
    }
    #lastView{
        float: left;
        margin: 5px;
    }
}
#otherLevelData div span{
    margin: 5px;
}
#charLevel{
    margin-left: auto;
    margin-right: auto;
}
#chooseRace{
    margin-left: auto;
    margin-right: auto;
}
#chooseClass{
    margin-left: auto;
    margin-right: auto;
}
#chooseBack{
    margin-left: auto;
    margin-right: auto;
}
span {
  font-weight: 700;
}
.charSpecs {
  display: flex;
  flex-direction: column;
}