@import "index";
// <span id="hitDie"></span>
// <span id="proficiencies"></span>
// <span id="savingThrows"></span>
// <span id="subclasses"></span>
// <span id="skills"></span>
#classInfo { 
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}
#characterLevel{
    width: 50px;
}
.hidden{
    display: none;
}
#createParent{
    width: 90vw;
}
#charLevel{
    margin-left: auto;
    margin-right: auto;
}
#chooseRace{
    margin-left: auto;
    margin-right: auto;
}
#chooseClass{
    margin-left: auto;
    margin-right: auto;
}
#chooseBack{
    margin-left: auto;
    margin-right: auto;
}
span {
  font-weight: 700;
}
.charSpecs {
  display: flex;
  flex-direction: column;
}