@import "index";

@mixin profileContent {
  @include normalBorder;
  @include fontPost;
  background-color: $secondary;
  width: 300px;
  height: auto;
  text-align: center;
  margin: 1%; 
}

#playerContent {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
  height: auto;
  color: $third;
  #characters {
    @include profileContent;
  }
  #campaigns {
    @include profileContent;
  }
  #homebrew {
    @include profileContent;
  }
}
